<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>words</key>
	<array>
		<string>fob</string>
		<string>boo</string>
		<string>hop</string>
		<string>jop</string>
		<string>rip</string>
		<string>kip</string>
		<string>tep</string>
		<string>ttp</string>
		<string>qqp</string>
		<string>yyp</string>
		<string>oop</string>
		<string>lop</string>
		<string>lip</string>
		<string>uup</string>
		<string>rep</string>
		<string>kop</string>
		<string>hi</string>
		<string>noo</string>
		<string>foobar</string>
	</array>
</dict>
</plist>
